{% extends 'base.html' %}

{% block title %}{{ settings.name }} | Home{% endblock %}

{% block content %}
    <h3>Articles</h3>
    <div class="articles">
        {% for article in articles %}
            {% include "snippets/article.html" %}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    <h3>Sites</h3>
    {% set links = feeds %}
    {% include "snippets/link-block.html" %}

{% endblock %}

{% block bottom %}
    <script language="JavaScript" src="{{ url_for('static', path="js/noteworthy.js") }}"></script>
{% endblock %}